<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHeadAdmin">
		<!--/* PROTOTYPE */-->
		<title>Administrace — 24th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body class="docu-theme">
		<!--/* Page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeaderAdmin"> [ Page Header ] </header>
		<!--/* Page navigation */-->
		<nav th:replace="public/fragments/PageNavigation.html :: PageNavigationAdmin"> [ Navigation ] </nav>

		<!--/*
		*	Page Content
		*/-->
		<main class="page-content">

			<h2>Indicie</h2>

			<table class="width-100pct">
				<tr>
					<th class="center">#</th>
					<th class="center">Aktivní</th>
					<th>Kód</th>
					<th>Úplné znění indicie</th>
				</tr>

				<tr th:each="clue : ${clueListing}">
					<td>
						<a th:href="@{~__|/admin/clues/clue-${clue.id}|__}"
						   title="Upravit řádek"
						   class="edit">[[${clue.id}]]</a>
					</td>
					<td class="center">
						<input name="active" type="checkbox" disabled="disabled"
							   th:checked="${clue.active}"/>
					</td>
					<td> [[${clue.code}]] </td>
					<td> [[${clue.description}]] </td>
				</tr>
			</table>

			<h3>Přidat novou indicii</h3>
			<form th:action="@{~/admin/clues}"
				  th:object="${clueForm}"
				  method="post">
				<table class="invisible-theme">
					<tr>
						<td>Kódové označení <sup>*</sup></td>
						<td>
							<input th:field="*{code}" type="text" name="code"/>
							<span class="emphasized">(např. I1, I2,...)</span>
							<div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="error"> [ error ] </div>
						</td>
					</tr>
					<tr>
						<td>Úplné znění indicie</td>
						<td>
							<textarea th:field="*{description}" name="description" rows="4" cols="50"></textarea>
							<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"> [ error ] </div>
						</td>
					</tr>
					<tr th:if="${#fields.hasGlobalErrors()}">
						<td></td><td><p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="error"> [ global error ] </p></td>
					</tr>
					<tr>
						<td colspan="2" class="center">
							<br />
							<input type="submit" value="Přidat indicii" />
							&nbsp;
							<input type="reset" value="Zrušit" />
						</td>
					</tr>
				</table>
				<p class="emphasized strong"><sup>*</sup> Povinné položky</p>
			</form>





		</main>

		<!--/* Page footer */-->
		<footer th:replace="public/fragments/PageFooter.html :: PageFooterAdmin"> [ Copyright ] </footer>
	</body>
</html>
