<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHeadAdmin">
		<!--/* PROTOTYPE */-->
		<title>Administrace — 24th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body class="docu-theme">
		<!--/* Page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeaderAdmin"> [ Page Header ] </header>
		<!--/* Page navigation */-->
		<nav th:replace="public/fragments/PageNavigation.html :: PageNavigationAdmin"> [ Navigation ] </nav>

		<!--/*
		*	Page Content
		*/-->
		<main class="page-content">

			<h2>Soutěžní stanoviště</h2>

			<table class="width-100pct">
				<tr>
					<th class="center">#</th>
					<th class="center">Aktivní</th>
					<th>Kód</th>
					<th>Název</th>
					<th>Přesná poloha a doplňující informace</th>
				</tr>
				
				<tr th:each="location : ${locationListing}">
					<td>
						<a th:href="@{~__|/admin/locations/location-${location.id}|__}"
						   title="Upravit řádek"
						   class="edit">[[${location.id}]]</a>
					</td>
					<td class="center">
						<input name="active" type="checkbox" disabled="disabled"
							   th:checked="${location.active}"/>
					</td>
					<td> [[${location.code}]] </td>
					<td> [[${location.name}]] </td>
					<td> [[${location.description}]] </td>
				</tr>
			</table>

			<h3>Přidat nové stanoviště</h3>
			<form th:action="@{~/admin/locations}"
				  th:object="${locationForm}"
				  method="post">
				<table class="invisible-theme">
					<tr>
						<td>Kódové označení <sup>*</sup></td>
						<td>
							<input th:field="*{code}" type="text" name="code"/>
							<span class="emphasized">(např. S1, S2,...)</span>
							<div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" style="color: red;"> [ error ] </div>
						</td>
					</tr>
					<tr>
						<td>Unikátní název <sup>*</sup></td>
						<td>
							<input th:field="*{name}" type="text" name="name" size="50"/>
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"> [ error ] </div>
						</td>
					</tr>
					<tr>
						<td>Popis přesné polohy<br />a doplňující informace</td>
						<td>
							<textarea th:field="*{description}" name="description" rows="4" cols="50"></textarea>
							<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"> [ error ] </div>
						</td>
					</tr>
					<tr th:if="${#fields.hasGlobalErrors()}">
						<td></td><td><p th:each="err : ${#fields.globalErrors()}" th:text="${err}" style="color: red;"> [ global error ] </p></td>
					</tr>
					<tr>
						<td colspan="2" class="center">
							<br />
							<input type="submit" value="Přidat stanoviště" />
							&nbsp;
							<input type="reset" value="Zrušit" />
						</td>
					</tr>
				</table>
				<p class="emphasized strong"><sup>*</sup> Povinné položky</p>
			</form>





		</main>

		<!--/* Page footer */-->
		<footer th:replace="public/fragments/PageFooter.html :: PageFooterAdmin"> [ Copyright ] </footer>
	</body>
</html>
