<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHeadAdmin">
		<!--/* PROTOTYPE */-->
		<title>Administrace — 24th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body class="docu-theme">
		<!--/* Page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeaderAdmin"> [ Page Header ] </header>
		<!--/* Page navigation */-->
		<nav th:replace="public/fragments/PageNavigation.html :: PageNavigationAdmin"> [ Navigation ] </nav>

		<!--/*
		*	Page Content
		*/-->
		<main class="page-content">

			<h2>Editace úkolu</h2>

			<form th:action="@{~__|/admin/tasks/task-${task.id}|__}"
				  th:object="${taskForm}"
				  method="post">
				<table class="invisible-theme">
					<tr>
						<td>Aktivní</td>
						<td>
							<input th:field="*{active}"
								   type="checkbox"
								   name="active"/>
							(
							<span th:id="activeText">[[${taskForm.active ? 'ano' : 'ne'}]]</span>
							)
						</td>
					</tr>
					<tr>
						<td>Typ <sup>*</sup></td>
						<td>
							<select name="type">
								<option value="A" th:selected="${'A' == taskForm.type}">A-kód</option>
								<option value="B" th:selected="${'B' == taskForm.type}">B-kód</option>
								<option value="C" th:selected="${'C' == taskForm.type}">C-kód</option>
							</select>
							<div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color: red;"> [ error ] </div>
						</td>
					</tr>
					<tr>
						<td>Kódové označení <sup>*</sup></td>
						<td>
							<input th:field="*{code}" type="text" name="code"/>
							<div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" style="color: red;"> [ error ] </div>
						</td>
					</tr>
					<tr>
						<td>Unikátní název <sup>*</sup></td>
						<td>
							<input th:field="*{name}" type="text" name="name" size="50"/>
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"> [ error ] </div>
						</td>
					</tr>
					<tr>
						<td>Znění nápovědy řešení</td>
						<td>
							<textarea th:field="*{solutionHint}" name="solutionHint" rows="4" cols="50"></textarea>
							<div th:if="${#fields.hasErrors('solutionHint')}" th:errors="*{solutionHint}" style="color: red;"> [ error ] </div>
						</td>
					</tr>
					<tr>
						<td>Znění postupu řešení</td>
						<td>
							<textarea th:field="*{solutionProcedure}" name="solutionProcedure" rows="4" cols="50"></textarea>
							<div th:if="${#fields.hasErrors('solutionProcedure')}" th:errors="*{solutionProcedure}" style="color: red;"> [ error ] </div>
						</td>
					</tr>
					<tr>
						<td>
							Všechna správná řešení <sup>*</sup><br />
							<span class="emphasized">(oddělená středníkem <code>;</code>)</span>
						</td>
						<td>
							<textarea th:field="*{solutions}" name="solutions" rows="4" cols="50"></textarea>
							<div th:if="${#fields.hasErrors('solutions')}" th:errors="*{solutions}" style="color: red;"> [ error ] </div>
						</td>
					</tr>
					<tr>
						<td>Povolit odhalení řešení</td>
						<td>
							<input th:field="*{revealSolutionAllowed}"
								   name="revealSolutionAllowed"
								   type="checkbox"/>
							(
							<span th:id="allowedText">[[${taskForm.revealSolutionAllowed ? 'ano' : 'ne'}]]</span>
							)
						</td>
					</tr>
					<tr th:if="${#fields.hasGlobalErrors()}">
						<td></td><td><p th:each="err : ${#fields.globalErrors()}" th:text="${err}" style="color: red;"> [ global error ] </p></td>
					</tr>
					<tr>
						<td colspan="2" class="center">
							<br />
							<input type="submit" value=" Uložit změny "/>
							&nbsp;
							<button type="button" onclick="location.href = location.origin + '/admin/tasks'"> Zrušit </button>
						</td>
					</tr>
				</table>
				<p class="emphasized strong"><sup>*</sup> Povinné položky</p>
			</form>

			<script type="text/javascript">
				/* <![CDATA[ */
				const activeCheckboxes = document.querySelectorAll("input[type=checkbox][name=active]");
				activeCheckboxes.forEach(checkbox => {
					checkbox.addEventListener("change", event => {
						const target = event.target;
						const active = target.checked === true;
						LT.log.debug("active checkbox:" + active);
						const confirmed = window.confirm(
								"Opravdu mám ukol " + (active ? "" : "de") + "aktivovat?\n\n" +
								"Neaktivní úkoly jsou vyřazeny ze hry a nelze je tak splnit. " +
								"Na zadávací stránce souvysejícího stanovište nebudou řešení " +
								"neaktivních úkolů přijímána.");
						if (!confirmed) {
							target.checked = !active;
							return;
						}
						const activeTextElement = document.getElementById("activeText");
						activeTextElement.innerText = active ? "ano" : "ne";
					});
				});

				const allowCheckboxes = document.querySelectorAll("input[type=checkbox][name=revealSolutionAllowed]");
				allowCheckboxes.forEach(checkbox => {
					checkbox.addEventListener("change", event => {
						const target = event.target;
						const allow = target.checked === true;
						LT.log.debug("allow checkbox:" + allow);

						const confirmed = window.confirm(
								"Opravdu mám " + (allow ? "povolit" : "zakázat") + " zobrazení správného řešení?");
						if (!confirmed) {
							target.checked = !allow;
							return;
						}
						const allowedTextElement = document.getElementById("allowedText");
						allowedTextElement.innerText = allow ? "ano" : "ne";
					});
				});
				/* ]]> */
			</script>

		</main>

		<!--/* Page footer */-->
		<footer th:replace="public/fragments/PageFooter.html :: PageFooterAdmin"> [ Copyright ] </footer>
	</body>
</html>
