<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHeadAdmin">
		<!--/* PROTOTYPE */-->
		<title>Administrace — 24th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body class="docu-theme">
		<!--/* Page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeaderAdmin"> [ Page Header ] </header>
		<!--/* Page navigation */-->
		<nav th:replace="public/fragments/PageNavigation.html :: PageNavigationAdmin"> [ Navigation ] </nav>

		<!--/*
		*	Page Content
		*/-->
		<main class="page-content"
			  th:with="
			  zaplaceno=${user.getProperty('zaplaceno').orElse(false)},
			  passwdRecoveryToken=${user.getProperty('passwdRecoveryToken').orElse(null)}
			  ">

			<h2>Detail uživatele</h2>

			<p>
				<strong>Uživatel:</strong> <th:block th:text="${user != null} ? ${user.email + ' [ ID=' + user.id + ' ]'} : _"> anonym </th:block><br />
				<strong>Tým:</strong> <th:block th:text="${team != null} ? ${team.name + ' [ ID=' + team.id + ' ]'} : _"> — </th:block><br />
				<strong>Zaplaceno:</strong> <code th:text="${zaplaceno ? 'ANO' : 'NE'}" th:style="|background-color: ${zaplaceno ? 'lightgreen' : 'lightcoral'};|"> ANO/NE </code>
			</p>


			<th:block th:if="${team != null}"
					  th:with="
					  contestProgress=${team.contestProgress}
					  ">
				<h2>Postup týmu v soutěži</h2>

				<h3>Základní údaje</h3>

				<form th:action="@{~__|/admin/user-info/${user.id}|__}"
					  th:object="${contestProgressForm}"
					  method="post">
					<table class="invisible-theme">
						<tr>
							<td>Diskvalifikován</td>
							<td>
								<input th:field="*{disqualified}"
									   type="checkbox"
									   name="disqualified"/>
							</td>
						</tr>
						<tr>
							<td>Má pojistku</td>
							<td>
								<input th:field="*{insuranceAgainstWinning}"
									   type="checkbox"
									   name="insuranceAgainstWinning"/>
							</td>
						</tr>
						<tr>
							<td>Stav tachometru na startu</td>
							<td>
								<input th:field="*{mileageAtStart}" type="text" name="mileageAtStart"/> km
								<div th:if="${#fields.hasErrors('mileageAtStart')}" th:errors="*{mileageAtStart}" class="error"> [ error ] </div>
							</td>
						</tr>
						<tr>
							<td>Stav tachometru v cíli</td>
							<td>
								<input th:field="*{mileageAtFinish}" type="text" name="mileageAtFinish"/> km
								<div th:if="${#fields.hasErrors('mileageAtFinish')}" th:errors="*{mileageAtFinish}" class="error"> [ error ] </div>
							</td>
						</tr>
						<tr>
							<td>Penalizace od pořadatele</td>
							<td>
								<input th:field="*{extraMileagePenalty}" type="text" name="extraMileagePenalty"/> km
								<div th:if="${#fields.hasErrors('extraMileagePenalty')}" th:errors="*{extraMileagePenalty}" class="error"> [ error ] </div>
							</td>
						</tr>
						<tr>
							<td>Bonus od pořadatele</td>
							<td>
								<input th:field="*{extraMileageBonus}" type="text" name="extraMileageBonus"/> km
								<div th:if="${#fields.hasErrors('extraMileageBonus')}" th:errors="*{extraMileageBonus}" class="error"> [ error ] </div>
							</td>
						</tr>
						<tr>
							<td>Čas týmu v cíli</td>
							<td>
								<input th:field="*{timestampAtFinish}" type="text" name="timestampAtFinish"/> milis
								<div th:if="${#fields.hasErrors('timestampAtFinish')}" th:errors="*{timestampAtFinish}" class="error"> [ error ] </div>
							</td>
						</tr>
						<tr th:if="${#fields.hasGlobalErrors()}">
							<td></td><td><p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="error"> [ global error ] </p></td>
						</tr>
						<tr>
							<td colspan="2" class="center">
								<br />
								<input type="submit" value="Uložit změny" />
								&nbsp;
								<button type="button"
										th:with="onClick=|location.href = location.origin + '/admin/user-info/${user.id}'|"
										th:attr="onClick=${onClick}"> Zrušit </button>
							</td>
						</tr>
					</table>
				</form>

				<h3>Kompletní data</h3>

				<pre th:text="${contestProgressJson}"> JSON </pre>

			</th:block>

			<th:block th:if="${team != null}"
					  th:with="
					  FridayOfferEnum=${T(cz.lhotatrophy.persist.entity.FridayOfferEnum)},
					  SaturdayOfferEnum=${T(cz.lhotatrophy.persist.entity.SaturdayOfferEnum)},
					  TshirtOfferEnum=${T(cz.lhotatrophy.persist.entity.TshirtOfferEnum)}">
				<h2>Členové týmu</h2>

				<table class="width-100pct">
					<tr>
						<th>Jméno člena</th>
						<!--/*  <th>Atributy</th>  */-->

						<th>Pátek</th>
						<th>Sobota</th>
						<th>Tričko</th>
					</tr>
					<tr th:each="member : ${team.getMembersOrdered()}"
						th:with="
						properties=${member.properties},
						friday=${properties.get('friday')},
						friday=${friday != null ? FridayOfferEnum.valueOf(friday) : null},
						saturday=${properties.get('saturday')},
						saturday=${saturday != null ? SaturdayOfferEnum.valueOf(saturday) : null},
						tshirtCode=${properties.get('tshirtCode')},
						tshirtCode=${tshirtCode != null ? TshirtOfferEnum.valueOf(tshirtCode) : null}
						">
						<td> [[${member.name}]] </td>
						<!--/*
						<td>
							<th:block th:if="${properties != null and !properties.isEmpty()}">
								<th:block th:each="entry, stat : ${properties.entrySet()}">
									<th:block th:if="${stat.count != 1}"> , </th:block>
									<code>
										[[${entry.key}]]: [[${entry.value}]]
									</code>
								</th:block>
							</th:block>
						</td>
						*/-->

						<td><th:block th:if="${friday}"> [[${friday.description}]] ([[${friday.price}]] Kč) </th:block></td>
						<td><th:block th:if="${saturday}">  [[${saturday.description}]] ([[${saturday.price}]] Kč) </th:block></td>
						<td><th:block th:if="${tshirtCode}">  [[${tshirtCode.description}]] ([[${tshirtCode.price}]] Kč) </th:block></td>
					</tr>
				</table>
			</th:block>

			<h2>Obnova přihlašovacího hesla</h2>

			<p><label>Jednorázový odkaz pro změnu zapomenutého hesla:</label> <input id="passwdRecoveryButton" type="button" value="Vygenerovat"></input></p>
			<p>
				Následující odkaz je jen na jedno použití a je možné ho použít pouze pro změnu hesla. Po úspěšné změně hesla se ze systému smaže.
				Pro případnou opakovanou změnu hesla bude nutné vygenerovat odkaz nový.
			</p>
			<pre id="passwdRecoveryLink" th:text="${passwdRecoveryToken}
				 ? ${'https://24.lhotatrophy.net/zmena-hesla/' + user?.id + '/' + passwdRecoveryToken}
				 : _">—odkaz—</pre>

			<script type="text/javascript" th:inline="javascript">
				/* <![CDATA[ */
				const passwdRecoveryButton = document.getElementById("passwdRecoveryButton");

				passwdRecoveryButton.addEventListener("click", even => {
					const userId = /*[[${user?.id}]]*/"";
					LT.log.debug("Generate for user: " + userId);

					let onCompleteFn = function (xhr, textStatus) {
						const data = xhr.responseJSON;
						if (textStatus === "success" && data.success === true) {
							const passwdRecoveryLink = document.getElementById("passwdRecoveryLink");
							passwdRecoveryLink.innerText = 'https://24.lhotatrophy.net/zmena-hesla/' + userId + '/' + data.token;
						} else {
							window.alert("Došlo k chbě při generování odkazu.");
							passwdRecoveryLink.innerText = '—odkaz—';
						}
					};

					let requestParams = {
						url: "/rest/admin/getPasswdRecoveryLink/" + userId,
						//data: JSON.stringify({user: userId}),
						onComplete: onCompleteFn,
						onError: LT.function.noop,
						onTimeout: LT.function.noop,
					};
					LT.ajax.send(requestParams, "passwdRecovery");
				});
				/* ]]> */
			</script>

		</main>

		<!--/* Page footer */-->
		<footer th:replace="public/fragments/PageFooter.html :: PageFooterAdmin"> [ Copyright ] </footer>
	</body>
</html>
