<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHead(
		  pageTitle='INDEX')">
		<title>26th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body class="docu-theme">
		<!--/* Page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeader"> [ Page Header ] </header>

		<!--/*
		*	Page Content
		*/-->
		<main th:with="
			  inactiveTeam=${!team.isActive() || !team.owner.isActive()},
			  disqualifiedTeam=${!inactiveTeam and team.isDisqualified()},
			  teamIsAtStart=${!inactiveTeam and !disqualifiedTeam and team.contestProgress.mileageAtStart == null},
			  teamIsInPlay=${!inactiveTeam and !disqualifiedTeam and team.contestProgress.mileageAtStart != null}">
			<div class="content-zone clearfix">
				<div class="content-zone-inner">

					<h1>INDEX</h1>
					<p class="p_1">Digitální výkaz o studiu</p>

					<h2 class="indent">[[${team.name}]]</h2>

					<th:block th:if="${#session.getAttribute('MileageUpdateSuccess') == true}"
							  th:with="_=${#session.setAttribute('MileageUpdateSuccess', false)}">
						<div class="block golden-ratio">
							<div class="block-inner visible white bg-lt-color-3">
								<p>
									Nahrání stavu tachometru se podařilo. Přejeme hodně úspěchů ve studiu.
									Užijte si mimosemestrální kurz a pamatujte: není důležité vyhrát, ale nezvítězit.
								</p>
							</div>
						</div>
					</th:block>

					<!--/*
					*
					*	Inactive teams
					*
					*
					*/-->
					<th:block th:if="${inactiveTeam}">
						<div class="block golden-ratio">
							<p>Tento tým se soutěže neúčastní</p>
						</div>
					</th:block>

					<!--/*
					*
					*	Disqualified teams
					*
					*
					*/-->
					<th:block th:if="${disqualifiedTeam}">
						<div class="block golden-ratio">
							<p>Tým diskvalifikován</p>
						</div>
					</th:block>

					<!--/*
					*
					*	Before opening
					*
					*/-->
					<th:block th:if="${teamIsAtStart and now.isBefore(appConfig.gameOpenInstant)}">
						<div class="block golden-ratio">
							<p>Vyčkejte do zahájení soutěže</p>
						</div>
					</th:block>

					<th:block th:if="${now.isAfter(appConfig.gameOpenInstant)}">

						<!--/*
						*
						*	Teams at start
						*
						*
						*/-->
						<th:block th:if="${teamIsAtStart}">
							<div class="block golden-ratio">
								<div class="block-inner visible firewatch-8 bg-firewatch-2">
									<form th:action="@{~/index/submitMileage}"
										  th:object="${submitMileageForm}"
										  method="post"
										  enctype="multipart/form-data"
										  class="form">
										<fieldset>
											<legend class="h2 inverted">
												Zadejte stav tachometru a&nbsp;nahrajte jeho fotografii
											</legend>
											<input th:field="*{type}" type="hidden" name="type"/>
											<input th:field="*{mileage}" type="number" name="mileage" min="0"/> km
											<p th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}" class="p-1 formalert"> [ error ] </p>
											<input th:field="*{file}" type="file" name="file" class="golden-ratio clearfix indent"/>
											<p th:if="${#fields.hasErrors('file')}" th:errors="*{file}" class="p-1 formalert"> [ error ] </p>
											<th:block th:if="${#fields.hasGlobalErrors()}">
												<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="p-1 formalert"> [ global error ] </p>
											</th:block>
											<input type="submit" value="Odeslat" class="btn clearfix indent"/>
										</fieldset>
									</form>
								</div>
							</div>
						</th:block>

						<!--/*
						*
						*	Before start
						*
						*/-->
						<th:block th:if="${teamIsInPlay and now.isBefore(appConfig.gameStartInstant)}">
							<div class="block golden-ratio">
								<p>Vyčkejte do předání obálek se šiframi</p>
							</div>
						</th:block>

						<!--/*
						*
						*	Teams in play or finished
						*
						*
						*/-->
						<th:block th:if="${teamIsInPlay and now.isAfter(appConfig.gameStartInstant)}">

							<ul class="locations">
								<li th:each="location, iterStat : ${locations}"
									th:with="
									locationDiscovered=${service.contest.checkLocationIsDiscovered(location)},
									aTask=${service.task.getTaskRelatedToLocation(location, 'A_CODE')},
									bTask=${service.task.getTaskRelatedToLocation(location, 'B_CODE')}"
									class="location"
									th:classappend="${!location.active} ? 'disabled' : _">
									<a th:href="@{~/index/stanoviste-__${location.code}__}">[[${iterStat.count}]]</a>
									<p>
										<th:block th:if="${locationDiscovered}"><th:block th:replace="public/fragments/Misc.html :: PinImage (fill='#fff9de')"/></th:block>
										<th:block th:unless="${locationDiscovered}">&nbsp;</th:block>
										<span th:if="${service.contest.checkTaskIsCompleted(aTask)}">T</span>
										<span th:if="${service.contest.checkTaskIsCompleted(bTask)}">P</span>
									</p>
								</li>
							</ul>

							<ul class="bottom-row">
								<li class="c-codes">
									<a href="/index/c-kody">C KÓDY</a>
									<p>[[${service.contest.cCodesAcquiredCount()}]]</p>
								</li>
								<li class="destination">
									<a href="/index/cil">CÍL</a>
									<p>[[${service.contest.getCluesDiscovered().size()}]]</p>
								</li>
							</ul>

							<th:block th:with="
									  score=${service.contest.getTeamScore(team)},
									  k=${service.contest.checkTeamIsInPlay() ? appConfig.idealRouteLength : 0},
									  score=${score != null ? (score - k) : null}">
								<p th:if="${score != null}"> Vaše průběžné skóre je [[${score}]] km.</p>
							</th:block>

						</th:block>
					</th:block>

				</div>
			</div>

		</main>

	</body>
</html>
