<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHead(
		  pageTitle='Cíl')">
		<title>Cíl</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>
		<!--/* Page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeader"> [ Page Header ] </header>

		<!--/* DENIK nav */-->
		<th:block th:replace="public/fragments/Misc.html :: DenikNav"></th:block>

		<!--/*
		*	Page Content
		*/-->
		<main th:with="
			  clues=${service.contest.getCluesDiscovered()},
			  hasClues=${clues.size() gt 0}">

			<div class="content-zone clearfix">
				<div class="content-zone-inner">

					<div class="block-inner">
						<h1 class="h1">Cílové stanoviště</h1>
						<p class="p_1" th:if="${service.contest.checkDestinationRevealed()}">[[${location.description}]]</p>

						<!--/*
						*	Clues listing
						*/-->
						<h2 class="indent">Indicie k poloze cíle</h2>
						<th:block th:unless="${hasClues}">
							<p>Zatím jste žádnou indicii nezískali.</p>
						</th:block>
						<th:block th:if="${hasClues}">
							<ul>
								<li th:each="clue : ${clues}"> [[${clue.description}]] </li>
							</ul>
						</th:block>

						<!--/*
						*
						*	Team has finished the game (image uploaded)
						*
						*
						*
						*/-->
						<th:block th:if="${service.contest.checkFinishImageUploaded()}">
							<p>
								Gratulujeme! Zadali jste cílový kód, nahráli stavu tachometru
								a&nbsp;hru máte úspěšně za sebou.
							</p>
						</th:block>

						<!--/*
						*
						*	Team is in play (image NOT uploaded)
						*
						*
						*
						*/-->
						<th:block th:if="${!service.contest.checkFinishImageUploaded()}">

							<!--/*
							*	If hint has not been used
							*/-->
							<th:block th:if="${!service.contest.checkDestinationRevealed() and service.contest.checkTeamIsInPlay()}">
								<div class="block-inner">
									<form th:action="@{~/denik/revealDestination}"
										  th:object="${confirmationForm}"
										  method="post"
										  th:data-confirm-message="|Opravdu si přejete odhalit polohu cílového stanoviště? Bude vást to stát ${appConfig.destinationRevealedPenalty} km.|"
										  class="indent">
										<input type="submit" value="Odhalit polohu" class="hint-btn"/>
										(Cena: [[${appConfig.destinationRevealedPenalty}]] km)
									</form>
								</div>
								<script type="text/javascript">
									/* <![CDATA[ */
									const forms = document.querySelectorAll("form");
									forms.forEach(form => {
										const confirmMessage = form.getAttribute("data-confirm-message");
										if (LT.isNotEmpty(confirmMessage)) {
											form.onsubmit = (event) => {
												const confirmed = window.confirm(confirmMessage);
												if (!confirmed) {
													event.preventDefault();
												}
												return confirmed;
											};
										}
									});
									/* ]]> */
								</script>
							</th:block>

							<!--/*
							*
							*	1. step - submit destination code and mileage
							*
							*/-->
							<div class="golden-ratio indent">
								<div class="block-inner visible firewatch-8 bg-firewatch-2">

									<h2 class="h2">1. krok</h2>
									<p>
										Zadejte cílový kód a&nbsp;stav tachometru na cílovém stanovišti. Zadáním těchto údajů pro vás hra skončí.
										Zastaví se časomíra a&nbsp;nebude již možné zadávat žádné další soutěžní kódy.
									</p>

									<!--/*
									*	Destination code input
									*/-->
									<form th:action="@{~/denik/submitMileage}"
										  th:object="${submitMileageForm}"
										  method="post">
										<fieldset th:disabled="${!service.contest.checkTeamIsInPlay()}"
												  style="padding: 0; border: none;">
											<input th:field="*{type}" type="hidden" name="type"/>
											<div>
												Cílový kód:<br/><input th:field="*{destCode}" type="text" name="destCode"/>
											</div>
											<div style="margin-top: 15px;">
												Stav tachometru:<br/><input th:field="*{mileage}" type="number" name="mileage" min="0"/> km
											</div>
											<input type="submit" value="Odeslat" class="btn indent"/>
											<div th:if="${#fields.hasErrors('destCode')}" th:errors="*{destCode}" class="error"> [ error ] </div>
											<div th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}" class="error"> [ error ] </div>
											<th:block th:if="${#fields.hasGlobalErrors()}">
												<div th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="error"> [ global error ] </div>
											</th:block>
										</fieldset>
									</form>

								</div>
							</div>

							<!--/*
							*	Wrong attempts listing
							*/-->
							<th:block th:with="invalidCodes=${team.contestProgress.getInvalidCodes('D0')}">
								<th:block th:if="${invalidCodes.size() gt 0}">
									<h3 class="indent">Chybné pokusy</h3>

									<th:block th:each="code : ${invalidCodes}">
										<p> Kód <strong>[[${code}]]</strong> je nesprávný. </p>
									</th:block>
								</th:block>
							</th:block>



							<!--/*
							*
							*	2. step - upload photo
							*
							*/-->
							<div class="golden-ratio indent">
								<div class="block-inner visible firewatch-8 bg-firewatch-2">
									<h2 class="h2">2. krok</h2>
									<p>Nahrajte fotografii tachometru vytvořenou podle návodu, který se dozvíte na cílovém stanovišti.</p>

									<!--/*
									*	Upload photo form
									*/-->
									<form th:action="@{~/denik/submitDestinationPhoto}"
										  th:object="${fileUploadForm}"
										  method="post"
										  enctype="multipart/form-data">
										<fieldset th:disabled="${service.contest.checkTeamIsInPlay()}"
												  style="padding: 0; border: none;">
											<input th:field="*{file}" type="file" name="fole"/>
											<input type="submit" value="Nahrát fotografii" class="btn clearfix indent"/>
											<div th:if="${#fields.hasErrors('file')}" th:errors="*{file}" class="error"> [ error ] </div>
											<th:block th:if="${#fields.hasGlobalErrors()}">
												<div th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="error"> [ global error ] </div>
											</th:block>
										</fieldset>
									</form>
								</div>
							</div>

						</th:block>
					</div>
				</div>
			</div>

		</main>

	</body>
</html>
