<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHead(
		  pageTitle='C kódy')">
		<title>C kódy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>
		<!--/* Page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeader"> [ Page Header ] </header>

		<!--/* DENIK nav */-->
		<th:block th:replace="public/fragments/Misc.html :: DenikNav"></th:block>

		<!--/*
		*	Page Content
		*/-->
		<main>

			<div class="content-zone clearfix">
				<div class="content-zone-inner">
					<h1 class="h1">C kódy</h1>

					<div th:if="${service.contest.checkTeamIsInPlay()}"
						 class="clearfix half">
						<div class="block-inner visible firewatch-8 bg-firewatch-2">
							<!--/*
							*	C-code input
							*/-->
							<form th:action="@{~/vykaz/submitCode}"
								  th:object="${submitCodeForm}"
								  method="post">
								<legend class="h2 inverted"> Zadejte kód </legend>
								<input th:field="*{taskType}" type="hidden" name="taskType"/>
								<input th:field="*{taskCode}" type="hidden" name="taskCode"/>
								<input th:field="*{solution}" type="text" name="solution"
									   class="golden-ratio clearfix"/>
								<input type="submit" value="Odeslat" class="btn indent"/>
							</form>
						</div>
					</div>

					<!--/*
					*	C-code listing
					*/-->
					<div class="clearfix indent" th:if="${service.contest.cCodesAcquiredCount() gt 0}">
						<h3 class="indent">Uznané</h3>

						<th:block th:each="code : ${service.contest.cCodesAcquired()}">
							<p style="text-transform: uppercase;"> [[${code.solution}]] </p>
						</th:block>
					</div>

					<!--/*
					*	Wrong attempts listing
					*/-->
					<div class="clearfix indent" th:with="invalidCodes=${team.contestProgress.getInvalidCodes('C_CODE')}">
						<th:block th:if="${invalidCodes.size() gt 0}">
							<h3 class="indent">Chybné pokusy</h3>

							<th:block th:each="code : ${invalidCodes}">
								<p> Kód <strong>[[${code}]]</strong> je nesprávný. </p>
							</th:block>
						</th:block>
					</div>

					<div class="clearfix indent half">
						<h2 class="h2">Pojistka</h2>

						<!--/*
						*	Insurance NOT available
						*/-->
						<th:block th:unless="${service.contest.isInsuranceAvailable()}">
							<!--<p> Možnost zakoupení pojistky se odemkne až získáte [[${appConfig.insuranceCCodeLimit}]]. C&nbsp;kód. </p>-->
							<p> Možnost výměny místa ve frontě se otevírá až po získání [[${appConfig.insuranceCCodeLimit}]].&nbsp;C&nbsp;kódu. </p>
						</th:block>

						<th:block th:if="${service.contest.isInsuranceAvailable()}">
							<!--/*
							*	Insurance already obtained
							*/-->
							<th:block th:if="${service.contest.checkHasInsurance()}">
<!--								<p>
									Gratulujeme! Zajistili jste si posun v&nbsp;celkovém pořadí o&nbsp;jednu příčku níže.
									Zároveň jste obdrželi penalizaci [[${appConfig.insurancePrice}]]&nbsp;km.
								</p>-->
								<p>
									Třeseme! Ze solidarity jste ze své pozice v&nbsp;celkovém pořadí sestoupili o&nbsp;příčku níž.
									Toto gesto je po zásluze potrestáno penalizací [[${appConfig.insurancePrice}]]&nbsp;km.
								</p>
							</th:block>

							<!--/*
							*	Insurance to buy
							*/-->
							<th:block th:if="${!service.contest.checkHasInsurance() and service.contest.checkTeamIsInPlay()}">
								<form th:action="@{~/vykaz/buyInsurance}"
									  th:object="${confirmationForm}"
									  method="post"
									  th:data-confirm-message="|Opravdu si přejete koupit pojistku? Bude vás to stát ${appConfig.insurancePrice} km.|">
									<input type="submit" value="Koupit pojistku" class="hint-btn"/>
									(Cena: [[${appConfig.insurancePrice}]] km)
								</form>
							</th:block>
						</th:block>
					</div>
				</div>
			</div>

			<script type="text/javascript">
				/* <![CDATA[ */
				const forms = document.querySelectorAll("form");
				forms.forEach(form => {
					const confirmMessage = form.getAttribute("data-confirm-message");
					if (LT.isNotEmpty(confirmMessage)) {
						form.onsubmit = (event) => {
							const confirmed = window.confirm(confirmMessage);
							if (!confirmed) {
								event.preventDefault();
							}
							return confirmed;
						};
					}
				});
				/* ]]> */
			</script>
		</main>

	</body>
</html>
