<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHead(pageTitle='Můj tým')">
		<!--/* PROTOTYPE */-->
		<title>26th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>
		<!--/* Common page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeader"> [ Page Header ] </header>

		<!--/* Main content */-->
		<div id="content">

			<div class="content-zone clearfix">
				<div class="content-zone-inner"
					 th:with="
					 zaplaceno=${user.getProperty('zaplaceno').orElse(false)}">

					<div class="block full">
						<div class="block-inner">
							<h1 th:text="${team?.name} ?: _">Můj tým</h1>
						</div>
					</div>

					<div th:if="${now.isAfter(appConfig.startLocationPublicInstant)}"
						 class="block golden-ratio">
						<div class="block-inner">
							<p class="p_1">
								Hra Lhota Trophy XXVI odstartuje v&nbsp;sobotu 5. října v&nbsp;6:00
								<a href="https://mapy.cz/s/bucutafeha" target="_blank">v&nbsp;rekreačním zařízení Stará Živohošť</a>,
								kde je zajištěno ubytování na obě noci.
							</p>

                            <p>
								<b>Prolog</b> zahájíte sami <b>v&nbsp;pátek 4.&nbsp;října od 17:00 hodin</b>
								naskenováním QR kódu v <a href="https://mapy.cz/s/gubukuceha" target="_blank">Záborné Lhotě</a>.
								Během prologu budete moci získat drobné výhody a&nbsp;především i&nbsp;užitečné předměty pro sobotní hru.
							</p>

                            <p>Páteční bufetová večeře se podává v časech 18:30 - 21:00 hod., bar je otevřen od 17:00 hod.</p>

                            <p>
								Webový systém pro průchod hrou najdete na adrese <a href="https://26.lhotatrophy.cz/index" target="_blank">26.lhotatrophy.cz/index</a>
								po přihlášení do týmové sekce. Může být dobrý nápad uložit si tuto stránku do záložek, nebo jako zástupce na plochu.
							</p>

                            <p>
								Týmy, které v roce 2025 organizují některou z her Lavina, Labyrint nebo Muhu,
								mohou požádat o vystavení omluvenky z případného pořádání Lhota Trophy XXVII.
								O omluvenku je nutno zažádat nejpozději před sobotním startem hry
								<a href="mailto:mrkveztykve@seznam.cz">emailem</a>, nebo osobně na Studijním oddělení na Staré Živohošti.
							</p>
							<p>
								Informace o doporučené výbavě můžete najít <a href="https://youtu.be/JreYrRQzaA8" target="_blank">na YouTube</a>.
							</p>
						</div>
					</div>

					<!--/*
					*	Hlášení o úspěšném uložení nastavení
					*/-->
					<div th:if="${#session.getAttribute('TeamUpdateSuccess') == true}"
						 th:with="_=${#session.setAttribute('TeamUpdateSuccess', false)}"
						 class="block golden-ratio">
						<div class="block-inner visible bg-lt-color-3">
							<p>Nastavení týmu bylo uloženo.</p>
						</div>
					</div>

					<!--/*
					*	Hlášení o úspěšné registraci
					*/-->
					<div th:if="${#session.getAttribute('TeamRegistrationSuccess') == true}"
						 th:with="_=${#session.setAttribute('TeamRegistrationSuccess', false)}"
						 class="block golden-ratio">
						<div class="block-inner visible bg-lt-color-3">
							<p>Registrace se podařila. Váš tým získal pořadové číslo [[${team.id}]].</p>
						</div>
					</div>

					<!--/*
					*	Hlášení o ukončení registrací a objednávek
					*/-->
					<div th:if="${false and now.isAfter(appConfig.teamRegistrationClosedInstant)}"
						 class="block golden-ratio">
						<div class="block-inner visible firewatch-0 bg-firewatch-5">
							<p>Registrace soutěžních týmů i objednávky byly ukončeny.</p>
						</div>
					</div>

					<!--/*
					*	Upozoznění pro týmy pod čarou
					*/-->
					<div th:if="${team != null and team.id gt appConfig.teamRegistrationLimit}"
						 class="block golden-ratio">
						<div class="block-inner visible white bg-lt-color-2">
							<p>
								Z&nbsp;kapacitních důvodů patří váš tým zatím mezi náhradníky.
								S platbou prosím vyčkejte na další instrukce od organizátorů.
							</p>
						</div>
					</div>

					<div class="block rest-of-2-fifths">
						<div class="block-inner">
							<p>
								V nastavení prosím vyplňte za každého člena týmu jeho jméno a&nbsp;požadavky na ubytování
								a&nbsp;soutěžní tričko. Pod formulářem pak naleznete výši celkové platby,
								kterou je třeba uhradit do <strong>31.&nbsp;července 2024</strong>.
								V&nbsp;případě neuhrazení bude účast ve hře nabídnuta případným náhradníkům.
							</p>

							<h3 class="indent">Poznámky</h3>
							<ul>
								<li>Startovné: 2000&nbsp;Kč za tým.</li>
								<li>Cena ubytování: 2040&nbsp;Kč za osobu.</li>
								<ul>
									<li>Cena ubytování zahrnuje 2&nbsp;noci ubytování hotelového typu s&nbsp;polopenzí.</li>
									<li>Všechny pokoje jsou vytápěné a&nbsp;mají vlastní sociální zařízení.</li>
									<li>Pokoje jsou 3-5lůžkové, každý tým bude mít k&nbsp;dispozici vlastní pokoj(e).</li>
									<li>Večeře v&nbsp;pátek a&nbsp;v&nbsp;sobotu formou bufetu, výběr z&nbsp;několika teplých
										jídel a&nbsp;salátů, vyberou si i&nbsp;vegetariáni.</li>
									<li>Sobotní snídaně formou balíčku, v&nbsp;neděli snídaňový bufet.</li>
								</ul>
								<li>Strava je vázaná na ubytování. V&nbsp;případě zájmu jen o&nbsp;stravu bez ubytování nám dejte
									vědět na e-mail, zkusíme to nějak vyřešit.</li>
								<li>Pokud máte zájem o&nbsp;více triček, než umožňuje formulář, kontaktujte nás e-mailem.</li>
								<li>Kontakt: <a href="mailto:mrkveztykve@seznam.cz">mrkveztykve@seznam.cz</a></li>
							</ul>
						</div>
					</div>


					<div th:if="${team != null and teamSettings != null}"
						 th:with="ordersClosed=${
						 now.isBetween(appConfig.teamRegistrationOpenInstant, appConfig.teamRegistrationClosedInstant) == false
						 and #authorization.expression('hasAuthority(''ADMIN'')') == false
						 }"
						 class="block full">
						<div class="block-inner visible firewatch-8 bg-firewatch-2">

							<h2 class="inverted">Nastavení týmu</h2>
							<form th:action="@{__${(zaplaceno or ordersClosed) ? '#' : '/muj-tym'}__}"
								  method="post"
								  id="team-settings">
								<fieldset th:disabled="${(zaplaceno or ordersClosed) ? 'disabled' : null}">
									<th:block th:each="member, stat : ${teamSettings}"
											  th:with="
											  memberName=${#strings.isEmpty(member.name) ? null : member.name},
											  memberFriday=${member.getProperty('friday').orElse('NONE')},
											  memberSaturday=${member.getProperty('saturday').orElse('NONE')},
											  memberTshirt=${member.getProperty('tshirtCode').orElse('NONE')},
											  memberAccommodation=${member.getProperty('accommodation').orElse('NO')}
											  ">
										<!--/* KAPITÁN */-->
										<th:block th:if="${stat.count == 1}">
											<label class="label-type-1" for="member-1" id="column-label-name-member-1">Jméno</label>
											<!--<label class="label-type-4" for="friday-member-1" id="column-label-friday">Pátek</label>-->
											<!--<label class="label-type-4" for="saturday-member-1">Sobota</label>-->
											<label class="label-type-4" for="accommodation-member-1" id="column-label-friday">Ubytování</label>
											<label class="label-type-4" for="tshirt-member-1">Tričko</label>
											<label class="label-type-3" for="member-1">Jméno</label>
											<input th:value="${memberName}"
												   type="text"
												   name="name_1"
												   id="member-1"
												   placeholder="Kapitán*"
												   required="required"
												   class="input-name"/>
										</th:block>

										<!--/* OSTATNÍ */-->
										<th:block th:if="${stat.count != 1}">
											<label class="label-type-3" th:for="|member-${stat.count}|">Jméno</label>
											<label class="label-type-2" th:for="|member-${stat.count}|">Jméno</label>
											<!--<label class="label-type-2" th:for="|friday-member-${stat.count}|">Pátek</label>-->
											<!--<label class="label-type-2" th:for="|saturday-member-${stat.count}|">Sobota</label>-->
											<label class="label-type-2" th:for="|accommodation-member-${stat.count}|">Ubytování</label>
											<label class="label-type-2" th:for="|tshirt-member-${stat.count}|">Tričko</label>
											<input th:value="${memberName}"
												   type="text"
												   th:name="|name_${stat.count}|"
												   th:id="|member-${stat.count}|"
												   th:placeholder="|${stat.count}. člen týmu|"
												   class="input-name"/>
										</th:block>

										<!--/*
										<label class="label-type-3" th:for="|friday-member-${stat.count}|">Pátek</label>
										<select class="select" th:name="|friday_${stat.count}|" th:id="|friday-member-${stat.count}|">
											<option value="NONE" th:selected="${memberFriday == 'NONE'}">bez ubytování (0&nbsp;Kč)</option>
											<option value="RIZOTO" th:selected="${memberFriday == 'RIZOTO'}">ubytování + bulgurové rizoto (870&nbsp;Kč)</option>
											<option value="VRABEC" th:selected="${memberFriday == 'VRABEC'}">ubytování + moravský vrabec s&nbsp;bramborovým knedlíkem (870&nbsp;Kč)</option>
											<option value="KURE" th:selected="${memberFriday == 'KURE'}">ubytování + kuřecí prsíčko s&nbsp;tymiánem a pečenými bramborami (870&nbsp;Kč)</option>
										</select>

										<label class="label-type-3" th:for="|saturday-member-${stat.count}|">Sobota</label>
										<select class="select" th:name="|saturday_${stat.count}|" th:id="|saturday-member-${stat.count}|">
											<option value="NONE" th:selected="${memberSaturday == 'NONE'}">bez ubytování (0&nbsp;Kč)</option>
											<option value="VECERE" th:selected="${memberSaturday == 'VECERE'}">bez ubytování, ale s&nbsp;večeří (260&nbsp;Kč)</option>
											<option value="ALL_INCLUSIVE" th:selected="${memberSaturday == 'ALL_INCLUSIVE'}">ubytování + večeře (970&nbsp;Kč)</option>
										</select>
										*/-->

										<label class="label-type-3" th:for="|accommodation-member-${stat.count}|">Ubytování</label>
										<select class="select" th:name="|accommodation_${stat.count}|" th:id="|accommodation-member-${stat.count}|">
											<option value="NO" th:selected="${memberAccommodation == 'NO'}">bez ubytování (0&nbsp;Kč)</option>
											<option value="YES" th:selected="${memberAccommodation == 'YES'}">s ubytováním (2040&nbsp;Kč)</option>
										</select>

										<label class="label-type-3" th:for="|tshirt-member-${stat.count}|">Tričko</label>
										<select class="select" th:name="|tshirt_${stat.count}|" th:id="|tshirt-member-${stat.count}|">
											<option value="NONE" th:selected="${memberTshirt == 'NONE'}">žádné tričko</option>
											<option value="P_M" th:selected="${memberTshirt == 'P_M'}">pánské velikosti M (350&nbsp;Kč)</option>
											<option value="P_L" th:selected="${memberTshirt == 'P_L'}">pánské velikosti L (350&nbsp;Kč)</option>
											<option value="P_XL" th:selected="${memberTshirt == 'P_XL'}">pánské velikosti XL (350&nbsp;Kč)</option>
											<option value="P_XXL" th:selected="${memberTshirt == 'P_XXL'}">pánské velikosti XXL (350&nbsp;Kč)</option>
											<option value="D_S" th:selected="${memberTshirt == 'D_S'}">dámské velikosti S (350&nbsp;Kč)</option>
											<option value="D_M" th:selected="${memberTshirt == 'D_M'}">dámské velikosti M (350&nbsp;Kč)</option>
											<option value="D_L" th:selected="${memberTshirt == 'D_L'}">dámské velikosti L (350&nbsp;Kč)</option>
											<option value="D_XL" th:selected="${memberTshirt == 'D_XL'}">dámské velikosti XL (350&nbsp;Kč)</option>
										</select>
									</th:block>

									<input th:unless="${(zaplaceno or ordersClosed)}" class="btn" type="submit" value="Uložit">
								</fieldset>
							</form>
						</div>
					</div>

					<!--/*
					*	Kalkulačka nákladů na účast
					*/-->
					<div th:if="${team != null}"
						 th:with="
						 isWithinLimit=${team.id le appConfig.teamRegistrationLimit},
						 startPrice=${2000},
						 totalPrice=${team.expenses}"
						 class="block golden-ratio">
						<div class="block-inner visible bg-firewatch-6">
							<p class="p-1">
								Startovné týmu: [[${startPrice}]]&nbsp;Kč<br />
								Souhrnná cena ubytování, jídla a triček: [[${totalPrice - startPrice}]]&nbsp;Kč
							</p>

							<!--/*
							*	Pro ty, co jsou NAD čarou
							*/-->
							<th:block th:if="${isWithinLimit}">
								<p>
									Celková částka: <strong>[[${totalPrice}]]&nbsp;Kč</strong><br />
									Číslo účtu: <strong>5499455073/0800</strong><br />
									Variabilní symbol: <strong>[[${team.id}]]</strong>
								</p>
								<p>
									Do poznámky pro příjemce napište jméno týmu.<br />
									Platbu prosím proveďte do 31.&nbsp;7.&nbsp;2024.
								</p>
							</th:block>

							<!--/*
							*	Pro ty, co jsou POD čarou
							*
							*/-->
							<th:block th:unless="${isWithinLimit}">
								<p>
									Celková částka: <strong>[[${totalPrice}]]&nbsp;Kč</strong><br />
									<th:block th:unless="${zaplaceno}">(Jako náhradníci zatím neplaťte.)</th:block>
								</p>
							</th:block>

							<!--/*
							*	Pro všechny
							*
							*/-->
							<p th:unless="${zaplaceno}">
								Výpočet celkové částky nezohledňuje případné neuložené položky nastavení.
								Pro přepočet stiskněte formulářové tlačítko Uložit.
							</p>
							<p>
								Zaplaceno:
								<strong th:text="${zaplaceno ? 'ANO' : 'NE'}">
									[ NE ]
								</strong>
							</p>
						</div>
					</div>
				</div>
			</div>


			<div th:if="${false and teamMembers != null and !teamMembers.isEmpty()}">
				<!--/*
				*	Seznam členů týmu
				*/-->
				<ul>
					<li th:each="member : ${teamMembers}"
						th:with="properties=${member.properties}">
						Member name: "[[${member.name}]]"
						<!--/*
						*	Atributy člena týmu
						*/-->
						<dl th:if="${properties != null and !properties.isEmpty()}">
							<th:block th:each="entry : ${properties.entrySet()}">
								<dt>[[${entry.key}]]</dt>
								<dd>[[${entry.value}]]</dd>
							</th:block>
						</dl>
					</li>
				</ul>
			</div>

			<!--/* Common page footer */-->
			<footer th:replace="public/fragments/PageFooter.html :: PageFooter"> [ Page Footer ] </footer>
		</div>
	</body>
</html>
