<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHead(pageTitle='Obnova hesla')">
		<!--/* PROTOTYPE */-->
		<title>26th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>
		<!--/* Common page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeader"> [ Page Header ] </header>

		<!--/* Main content */-->
		<div id="content">

			<div class="content-zone clearfix">
				<div class="content-zone-inner">

					<div class="block full">
						<div class="block-inner">
							<h1>Zapomenuté heslo</h1>
						</div>
					</div>

					<div class="block golden-ratio">
						<div class="block-inner visible firewatch-8 bg-firewatch-2">

							<form th:action="@{~/zmena-hesla}"
								  th:object="${userPasswordRecoveryForm}"
								  method="post"
								  class="form">
								<fieldset>
									<legend class="h2 inverted">Obnova hesla</legend>
									<p th:if="${#fields.hasErrors('password')}"
									   th:errors="*{password}"
									   class="p-1 formalert"> [ password error message ]
									</p>
									<input type="text" name="password" id="login-team-password" class="golden-ratio clearfix" placeholder="Nové heslo*" required="required"/>
									<input type="hidden" name="id" th:field="*{id}"/>
									<input type="hidden" name="token" th:field="*{token}"/>
									<th:block th:if="${#fields.hasGlobalErrors()}">
										<p th:each="err : ${#fields.globalErrors()}"
										   th:text="${err}"
										   class="p-1 formalert"> [ global error message ] </p>
									</th:block>
									<input class="btn indent" type="submit" value="Nastavit"/>
								</fieldset>
							</form>

						</div>
					</div>
				</div>
			</div>

			<!--/* Common page footer */-->
			<footer th:replace="public/fragments/PageFooter.html :: PageFooter"> [ Page Footer ] </footer>
		</div>
	</body>
</html>
