<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHead(pageTitle='Spartakiáda')">
		<!--/* PROTOTYPE */-->
		<title>24th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Spartakiáda - 25. Lhota Trophy</title>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png"/>
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"/>		
		<!--Sem se nedivej, tady nic neni-->
	</head>
	<body style="color:#ee7d3b;background-color:#2d363d;text-align:center;">
		<script>
			var audio = new Audio('/img/spartakiada.mp3');
			function play() {
				audio.pause();
				audio.currentTime = 0;
				audio.play();
			}
		</script>

		<img src="/img/spartakiada.png" align="center" />
		<br/><br/>
		<button onclick="play()" align="center">Začni cvičit!</button>

	</body>
</html>
