<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHead(
		  pageTitle='Výsledková listina')">
		<title>Výsledková listina</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>
		<!--/* Page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeader"> [ Page Header ] </header>

		<!--/*
		*	Page Content
		*/-->
		<main id="content">

			<div class="content-zone clearfix">
				<div class="content-zone-inner">
					<div class="block-inner">
						<div class="block full">

							<h1 class="indent">Výsledková listina</h1>

							<!--/*
							*
							*	Team standings are hidden
							*
							*
							*
							*/-->
							<th:block th:if="${now.isBefore(appConfig.gameResultsInstant)}">
								<p class="p_1">Umístění týmů na žebříčku vítězů se zobrazí až po skončení soutěže.</p>
							</th:block>


							<!--/*
							*
							*	Team standings are published
							*
							*
							*
							*/-->
							<th:block th:if="${now.isAfter(appConfig.gameResultsInstant)}">

								<table class="table">
									<tr>
										<th class="center">#</th>
										<th class="center">Poj.</th>
										<th class="left">Tým</th>
										<th class="center">Výsledné<br/>skóre</th>
										<th class="center">A kódy</th>
										<th class="center">B kódy</th>
										<th class="center">C kódy</th>
										<th class="center">Trasa<br/>[ km ]</th>
										<th class="center">Časová<br/>pen.</th>
									</tr>
									<tr th:each="team, iterStat : ${service.contest.getTeamStandings()}"
										th:with="
										score=${service.contest.getTeamScore(team)},
										disqualified=${team.isDisqualified() or score == null}
										"
										>
										<td class="center">[[${iterStat.count}]].</td>
										<td class="center">[[${team.contestProgress.insuranceAgainstWinning ? 'Ano' : ''}]]</td>
										<td>[[${team.name}]]</td>
										<td class="right">[[${disqualified ? 'DISQ' : score}]]</td>
										<td class="center">[[${service.contest.aCodesAcquiredCount(team)}]]</td>
										<td class="center">[[${service.contest.bCodesAcquiredCount(team)}]]</td>
										<td class="center">[[${service.contest.cCodesAcquiredCount(team)}]]</td>
										<td class="right">[[${disqualified ? '--' : team.contestProgress.getMileage()}]]</td>
										<td class="center">[[${disqualified ? '--' : service.contest.getTeamTimeExceededPenalty(team)}]]</td>
									</tr>
								</table>

							</th:block>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!--/* Common page footer */-->
		<footer th:replace="public/fragments/PageFooter.html :: PageFooter"> [ Page Footer ] </footer>
	</body>
</html>
