<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head th:replace="public/fragments/HtmlDocument.html :: DocumentHead(pageTitle='Přihlášené týmy')">
		<!--/* PROTOTYPE */-->
		<title>24th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>
		<!--/* Common page header */-->
		<header th:replace="public/fragments/PageHeader.html :: PageHeader"> [ Page Header ] </header>

		<!--/* Main content */-->
		<div id="content">

			<div class="content-zone clearfix">
				<div class="content-zone-inner">

					<div class="block full">
						<div class="block-inner">
							<h1>Přihlášené týmy</h1>
							<p>
								Níže naleznete aktuální seznam posádek 24.&nbsp;Lhota Trophy v&nbsp;pořadí uskutečněné registrace.
								Týmy s&nbsp;pořadovým číslem 51 a vyšším prozatím zůstávají náhradníky.
								Hry se budou moci zúčastnit místo týmů, které do 31.&nbsp;července neuhradí náklady na účast ve hře,
								nebo dojde-li k&nbsp;rozšíření startovní listiny z&nbsp;rozhodnutí organizátorů.
							</p>
							<p>
								Sloupeček $ značí, zda tým uhradil celkové náklady na účast ve&nbsp;hře.
								Tuto informaci průběžně aktualizujeme ručně, proto prosíme o&nbsp;vaši trpělivost.
							</p>
							<p th:remove="all">
								Chcete hrát, ale nejste na seznamu? <a href="/#registrace">Registrujte se!</a>
							</p>
						</div>
					</div>

					<div class="block full">
						<div class="block-inner">
							<div id="team-list">

								<!--/*
								*	Listing header
								*/-->
								<p class="right list-label">#</p>
								<p class="list-label">Název týmu a členové</p>
								<p class="center list-label">$</p>
								<!--/*
								*	Listing data
								*/-->
								<th:block th:each="teamData, stat : ${teamListing}"
										  th:with="
										  owner=${teamData.owner},
										  zaplaceno=${owner != null ? owner.getProperty('zaplaceno').orElse(false) : false}">
									<div th:class="${stat.odd ? 'odd-line' : 'even-line'}"
										 th:classappend="${teamData.active != true} ? 'inactive' : _">
										<p class="p-1 right">[[${teamData.id}]].</p>
										<p class="p-1"><strong>[[${teamData.name}]]</strong><!--/*
											*/--><th:block th:each="member, stat : ${teamData.getMembersOrdered()}"
													  th:unless="${#strings.isEmpty(member.name)}"><!--/*
											*/--><strong th:if="${stat.index == 0}">: </strong><!--/*
											*/-->[[${(stat.index != 0) ? (', ' + member.name) : member.name}]]<!--/*
										*/--></th:block>
										</p>
										<p th:text="${zaplaceno ? 'ANO' : 'NE'}"
										   class="p-1 center">
											[ NE ]
										</p>
									</div>
								</th:block>
							</div>
						</div>
					</div>					

				</div>
			</div>

			<!--/* Common page footer */-->
			<footer th:replace="public/fragments/PageFooter.html :: PageFooter"> [ Page Footer ] </footer>
		</div>
	</body>
</html>
