html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
.clear {
	clear: both;
}
.clearLeft {
	clear: left;
}
.clearRight {
	clear: right;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}

.clearfix:after {
	content: ".";
	clear: both; display: block; height: 0; visibility: hidden;
	font-size: 0;
}
.clearfix {
	display: inline-block;
}
.clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
