<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head>
		<!--/* PROTOTYPE */-->
		<title>26th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>

		<!--/*
		*	
		*	Common page header
		*	
		*	
		*/-->
		<th:block th:fragment="PageHeader">
			<header th:if="${now.isAfter(appConfig.teamRegistrationOpenInstant)}"
					class="content-zone clearfix">
				<nav>
					<ul>
						<li th:if="${now.isBefore(appConfig.teamRegistrationClosedInstant)}"><a href="/">Úvod a registrace</a></li>
						<li th:if="${now.isAfter(appConfig.teamRegistrationClosedInstant)}"><a href="/">Úvod</a></li>
						<li><a href="/prihlasene-tymy">Přihlášené týmy</a></li>
						<li><a href="https://www.facebook.com/groups/lhotatrophy">Facebook</a></li>
						<li><a href="/muj-tym">Můj tým</a></li>
						<li th:if="${now.isAfter(appConfig.gameOpenInstant)}"><a href="/index">INDEX</a></li>
						<li th:if="${now.isAfter(appConfig.gameResultsInstant)}"><a href="/vysledky">Výsledky</a></li>
					</ul>
					<form th:if="${user}"
						  th:action="@{/logout}"
						  method="post"
						  id="header-form-logout">
						<input type="submit" value="Odhlásit se"/>
					</form>
				</nav>
			</header>
		</th:block>

		<!--/*
		*	
		*	Admin page header
		*	
		*	
		*/-->
		<th:block th:fragment="PageHeaderAdmin">
			<header data-noindex="" class="site-header">
				<div class="base-pane">
					<h1>Administrace</h1>
					<p>
						Přihlášený uživatel: <th:block sec:authentication="name"> [ username ] </th:block>
						(
						<th:block sec:authorize="hasAuthority('ADMIN')">ADMIN</th:block>
						<th:block sec:authorize="hasAuthority('SUPERADMIN')">SUPERADMIN</th:block>
						)
					</p>
					<p sec:authorize="hasAuthority('SUPERADMIN')">
						Clean cache:
						<a th:href="@{~/admin/clean-cache/statistics}">statistics cache</a> |
						<a th:href="@{~/admin/clean-cache/listings}">listing cache</a> |
						<a th:href="@{~/admin/clean-cache/entities}">entity cache</a> |
						<a th:href="@{~/admin/clean-cache/all}">all caches</a>
					</p>
					<form th:action="@{/logout}" method="post"><input type="submit" value="Odhlásit se"/></form>
				</div>
			</header>
		</th:block>

	</body>
</html>
