<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head>
		<!--/* PROTOTYPE */-->
		<title>24th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>

		<!--/*
		*	
		*	Admin Page Navigation
		*	
		*	
		*/-->
		<th:block th:fragment="PageNavigationAdmin">
			<nav class="breadcrumbs">
				<div class="base-pane">
					<ul>
						<li><a th:href="@{~/admin}">Seznam týmů a platby</a></li>
						<li>|</li>
						<li><a th:href="@{~/admin/orders}">Objednávky</a></li>
						<li>|</li>
						<li><a th:href="@{~/admin/tasks}">Soutěžní úkoly (kódy)</a></li>
						<li>|</li>
						<li><a th:href="@{~/admin/locations}">Stanoviště</a></li>
						<li>|</li>
						<li><a th:href="@{~/admin/clues}">Indicie</a></li>
						<li>|</li>
						<li><a th:href="@{~/admin/configuration}">Konfigurace</a></li>
						<li>|</li>
						<li><a th:href="@{~/admin/statistics}">Statistiky</a></li>
					</ul>
				</div>
			</nav>
		</th:block>

	</body>
</html>
