<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="cs">
	<head>
		<!--/* PROTOTYPE */-->
		<title>26th Lhota Trophy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body>

		<!--/*
		*	
		*	Common page footer
		*	
		*	
		*/-->
		<div th:fragment="PageFooter"
			 class="content-zone clearfix">
			<div class="content-zone-inner">
				<div class="block-inner">
					<p class="p-1">
						26. ročník Lhota Trophy pořádá tým Mrkve z Tykve | Kontakt:
						<a href="mailto:mrkveztykve@seznam.cz">mrkveztykve@seznam.cz</a>
					</p>
				</div>
			</div>
		</div>


		<!--/*
		*	
		*	Admin page footer
		*	
		*	
		*/-->
		<th:block th:fragment="PageFooterAdmin">
			<footer data-noindex="" class="site-footer">
				<div class="base-pane center">
					<p th:text="|&copy; Lhota Trophy ${#dates.year(#dates.createNow())}|"> Copyright </p>
				</div>
			</footer>
		</th:block>

	</body>
</html>
